<div class="container">
  <div class="row mt-5">
    <div class="col-sm">
      <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name (Last, First)</th>
          <th scope="col">Address</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let employee of employees">
          <th scope="row">{{employee.id}}</th>
          <td>{{getName(employee)}}</td>
          <td>{{getAddress(employee.address)}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
